// Variables de colores
$blue-aluraflix: rgb(34, 113, 209);
$blue-aluraflix--opacity: rgba(34, 113, 209, 0.24);
$blue-aluraflix--light: rgba(34, 113, 209, 1);
$black-aluraflix: rgba(0, 0, 0, 0.9);
$blue-aluraflix-card: rgba(107, 209, 255, 1);
$white: #ffffff;
$border-nav: rgba(34, 113, 209, 0.7);
$error-aluraflix: rgba(229, 57, 53, 1);

// Variables de color
// $blue-aluraflix: #00aaff;
$dark-blue: #001a33;
$grey: #cccccc;
$active-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

/*borders */
$boreder-radius__big: 100%;
$boreder-radius__medium: 0.625rem;

// Tipografía
$font-family: Roboto, sans-serif;
$font-size-base: 16px;
