@use "@/styles/variables" as vars;
@use "@/styles/mixins" as mixins;

.title {
  width: 286px;
  height: 70px;
  border-radius: 15px;
  color: vars.$white;
  align-content: center;
  margin-bottom: 40px;

  & h2 {
    font-size: 24px;
    font-weight: 800;
    line-height: 28.13px;
    text-align: center;
  }

  &.frontend {
    background-color: vars.$blue-aluraflix-card;
  }
  &.backend {
    background-color: vars.$green-alura-backend;
  }
  &.innovacionygestion {
    background-color: vars.$yellow-alura-gestion;
  }
  @media (min-width: 768px) {
      width: 432px;
    }
}



