@use "@/styles/variables" as vars;
@use "@/styles/mixins" as mixins;

.home {
  padding: 1rem;
  @include mixins.flex-center;
  gap: 1.875rem;
  flex-wrap: wrap;
  .categoryGroup {
    width: 100%;
    justify-items: left;
  }
  .cards {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
  }
  // .frontend{
  //   color: blue;
  // }
}
