#root {
  max-width: 90.1594rem;
  margin: 0 auto;
  text-align: center;
}
.container {
  padding: 100px 0;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

